streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
transformers
torch
pymupdf
pypdf
python-dotenv
tiktoken
openai
rank-bm25
bm25s
unstructured
Pillow